In [ ]:
"""
    File lists 
    Starbucks: seoul_starbucks.xlsx
    인구:
    1. report.txt
    2. sgg_pop.xlsx
    사업체:
    1. report1.text
    2. sgg_biz.xlsx
    Seoul location: seoul_sgg_list.xlsx
"""

#### 01-1 시군구명, 시군구 코드에 시울시 스타박스 매장 목록,인구,사업체 데이터 추가

In [54]:
import pandas as pd

starbucks_list = pd.read_excel("./seoul_starbucks.xlsx",header=0)
starbucks_list.head()

,매장명,위도,경도,매장타입,전화번호,시군구명,주소
0,역삼아레나빌딩,37.501087,127.043069,리저브 매장 2번,1522-3232,강남구,서울특별시 강남구 언주로 425 (역삼동)
1,논현역사거리,37.510178,127.022223,리저브 매장 2번,1522-3232,강남구,서울특별시 강남구 강남대로 538 (논현동)
2,신사역성일빌딩,37.513931,127.020606,리저브 매장 2번,1522-3232,강남구,서울특별시 강남구 강남대로 584 (논현동)
3,국기원사거리,37.499517,127.031495,리저브 매장 2번,1522-3232,강남구,서울특별시 강남구 테헤란로
4,대치재경빌딩R,37.494668,127.062583,-,1522-3232,강남구,서울특별시 강남구 남부순환로 2947 (대치동)

In [55]:
starbucks_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     608 non-null    object
 1   위도      608 non-null    float64
 2   경도      608 non-null    float64
 3   매장타입    608 non-null    object
 4   전화번호    608 non-null    object
 5   시군구명    608 non-null    object
 6   주소      608 non-null    object
dtypes: float64(2), object(5)
memory usage: 33.4+ KB

In [44]:
# starbucks_list["시군구명"]=starbucks_list["주소"].str.split(" ").str[1]
# starbucks_list.drop(["서군구명"],axis=1,inplace=True)

# starbucks_list



# sgg_names =[]
# for address in starbucks_list:
#     sgg = address.split()[1]
#     sgg_names.append(sgg)
# starbucks_list["서군구명"]=sgg_names
# starbucks_list.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,리저브 매장 2번,서울특별시 강남구 언주로 425 (역삼동)1522-3232,1522-3232,강남구
1,논현역사거리,37.510178,127.022223,리저브 매장 2번,서울특별시 강남구 강남대로 538 (논현동)1522-3232,1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,리저브 매장 2번,서울특별시 강남구 강남대로 584 (논현동)1522-3232,1522-3232,강남구
3,국기원사거리,37.499517,127.031495,리저브 매장 2번,서울특별시 강남구 테헤란로 125 (역삼동)1522-3232,1522-3232,강남구
4,대치재경빌딩R,37.494668,127.062583,-,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,1522-3232,강남구
...,...,...,...,...,...,...,...
603,사가정역,37.579594,127.087966,리저브 매장 2번,서울특별시 중랑구 면목로 3101522-3232,1522-3232,중랑구
604,상봉역,37.596890,127.086470,리저브 매장 2번,서울특별시 중랑구 망우로 307 (상봉동)1522-3232,1522-3232,중랑구
605,묵동,37.615368,127.076633,리저브 매장 2번,"서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층1522-3232",1522-3232,중랑구
606,양원역,37.606654,127.106360,리저브 매장 2번,서울특별시 중랑구 양원역로10길 3 (망우동)1522-3232,1522-3232,중랑구
607,중화역,37.601709,127.078411,리저브 매장 2번,서울특별시 중랑구 봉화산로 35 1522-3232,1522-3232,중랑구

In [45]:
# starbucks_list.to_excel("./seoul_starbucks.xlsx",index=False)

In [15]:
seoul_sgg = pd.read_excel("./seoul_sgg_list.xlsx")
seoul_sgg

    시군구코드  시군구명         위도          경도
0   11320   도봉구  37.665861  127.031767
1   11380   은평구  37.617612  126.922700
2   11230  동대문구  37.583801  127.050700
3   11590   동작구  37.496504  126.944307
4   11545   금천구  37.460097  126.900155
5   11530   구로구  37.495486  126.858121
6   11110   종로구  37.599100  126.986149
7   11305   강북구  37.646995  127.014716
8   11260   중랑구  37.595379  127.093967
9   11680   강남구  37.495985  127.066409
10  11500   강서구  37.565762  126.822656
11  11140    중구  37.557945  126.994190
12  11740   강동구  37.549208  127.146482
13  11215   광진구  37.548144  127.085753
14  11440   마포구  37.562291  126.908780
15  11650   서초구  37.476953  127.037810
16  11290   성북구  37.606991  127.023218
17  11350   노원구  37.655264  127.077120
18  11710   송파구  37.504853  127.114482
19  11410  서대문구  37.582037  126.935666
20  11470   양천구  37.527062  126.856153
21  11560  영등포구  37.520641  126.913924
22  11620   관악구  37.465399  126.943807
23  11200   성동구  37.550675  127.040962
24  11170   용산구  37.531101  126.981074

In [56]:
starbucks_list_byGu = pd.read_excel("./seoul_starbucks.xlsx",header=0)
print(starbucks_list_byGu.head())

       매장명         위도          경도       매장타입       전화번호 시군구명  \
0  역삼아레나빌딩  37.501087  127.043069  리저브 매장 2번  1522-3232  강남구
1   논현역사거리  37.510178  127.022223  리저브 매장 2번  1522-3232  강남구
2  신사역성일빌딩  37.513931  127.020606  리저브 매장 2번  1522-3232  강남구
3   국기원사거리  37.499517  127.031495  리저브 매장 2번  1522-3232  강남구
4  대치재경빌딩R  37.494668  127.062583          -  1522-3232  강남구

                           주소
0     서울특별시 강남구 언주로 425 (역삼동)
1    서울특별시 강남구 강남대로 538 (논현동)
2    서울특별시 강남구 강남대로 584 (논현동)
3             서울특별시 강남구 테헤란로
4  서울특별시 강남구 남부순환로 2947 (대치동)

In [57]:
pivot_result =starbucks_list_byGu.pivot_table(index='시군구명', values='매장명', aggfunc='count')
pivot_result

      매장명
시군구명
강남구    89
강동구    17
강북구     6
강서구    27
관악구    12
광진구    18
구로구    14
금천구    13
노원구    14
도봉구     6
동대문구   10
동작구    11
마포구    36
서대문구   22
서초구    48
성동구    14
성북구    15
송파구    36
양천구    17
영등포구   42
용산구    25
은평구    14
종로구    40
중구     54
중랑구     8

In [61]:
merged_df = pd.merge(seoul_sgg,pivot_result,how="left", on="시군구명")
merged_df

    시군구코드  시군구명         위도          경도  매장명
0   11320   도봉구  37.665861  127.031767    6
1   11380   은평구  37.617612  126.922700   14
2   11230  동대문구  37.583801  127.050700   10
3   11590   동작구  37.496504  126.944307   11
4   11545   금천구  37.460097  126.900155   13
5   11530   구로구  37.495486  126.858121   14
6   11110   종로구  37.599100  126.986149   40
7   11305   강북구  37.646995  127.014716    6
8   11260   중랑구  37.595379  127.093967    8
9   11680   강남구  37.495985  127.066409   89
10  11500   강서구  37.565762  126.822656   27
11  11140    중구  37.557945  126.994190   54
12  11740   강동구  37.549208  127.146482   17
13  11215   광진구  37.548144  127.085753   18
14  11440   마포구  37.562291  126.908780   36
15  11650   서초구  37.476953  127.037810   48
16  11290   성북구  37.606991  127.023218   15
17  11350   노원구  37.655264  127.077120   14
18  11710   송파구  37.504853  127.114482   36
19  11410  서대문구  37.582037  126.935666   22
20  11470   양천구  37.527062  126.856153   17
21  11560  영등포구  37.520641  126.913924   42
22  11620   관악구  37.465399  126.943807   12
23  11200   성동구  37.550675  127.040962   14
24  11170   용산구  37.531101  126.981074   25

In [60]:
sorted_df=merged_df.sort_values(by="매장명",ascending=False)
sorted_df

    시군구코드  시군구명         위도          경도  매장명
9   11680   강남구  37.495985  127.066409   89
11  11140    중구  37.557945  126.994190   54
15  11650   서초구  37.476953  127.037810   48
21  11560  영등포구  37.520641  126.913924   42
6   11110   종로구  37.599100  126.986149   40
18  11710   송파구  37.504853  127.114482   36
14  11440   마포구  37.562291  126.908780   36
10  11500   강서구  37.565762  126.822656   27
24  11170   용산구  37.531101  126.981074   25
19  11410  서대문구  37.582037  126.935666   22
13  11215   광진구  37.548144  127.085753   18
20  11470   양천구  37.527062  126.856153   17
12  11740   강동구  37.549208  127.146482   17
16  11290   성북구  37.606991  127.023218   15
1   11380   은평구  37.617612  126.922700   14
17  11350   노원구  37.655264  127.077120   14
5   11530   구로구  37.495486  126.858121   14
23  11200   성동구  37.550675  127.040962   14
4   11545   금천구  37.460097  126.900155   13
22  11620   관악구  37.465399  126.943807   12
3   11590   동작구  37.496504  126.944307   11
2   11230  동대문구  37.583801  127.050700   10
8   11260   중랑구  37.595379  127.093967    8
7   11305   강북구  37.646995  127.014716    6
0   11320   도봉구  37.665861  127.031767    6

In [64]:
seoul_sgg_pop = pd.read_excel("./sgg_pop.xlsx")
seoul_sgg_pop

    시군구명  주민득록인구
0    종로구  152212
1     중구  131390
2    용산구  232482
3    성동구  287240
4    광진구  350925
5   동대문구  354884
6    중랑구  389928
7    성북구  441855
8    강북구  296934
9    도봉구  312858
10   노원구  506989
11   은평구  468766
12  서대문구  321966
13   마포구  376542
14   양천구  442345
15   강서구  573711
16   구로구  417983
17   금천구  242467
18  영등포구  398999
19   동작구  390377
20   관악구  502628
21   서초구  408979
22   강남구  537817
23   송파구  663704
24   강동구  464027

In [65]:
merged_df2 = pd.merge(merged_df,seoul_sgg_pop,how="left", on="시군구명")
merged_df2

    시군구코드  시군구명         위도          경도  매장명  주민득록인구
0   11320   도봉구  37.665861  127.031767    6  312858
1   11380   은평구  37.617612  126.922700   14  468766
2   11230  동대문구  37.583801  127.050700   10  354884
3   11590   동작구  37.496504  126.944307   11  390377
4   11545   금천구  37.460097  126.900155   13  242467
5   11530   구로구  37.495486  126.858121   14  417983
6   11110   종로구  37.599100  126.986149   40  152212
7   11305   강북구  37.646995  127.014716    6  296934
8   11260   중랑구  37.595379  127.093967    8  389928
9   11680   강남구  37.495985  127.066409   89  537817
10  11500   강서구  37.565762  126.822656   27  573711
11  11140    중구  37.557945  126.994190   54  131390
12  11740   강동구  37.549208  127.146482   17  464027
13  11215   광진구  37.548144  127.085753   18  350925
14  11440   마포구  37.562291  126.908780   36  376542
15  11650   서초구  37.476953  127.037810   48  408979
16  11290   성북구  37.606991  127.023218   15  441855
17  11350   노원구  37.655264  127.077120   14  506989
18  11710   송파구  37.504853  127.114482   36  663704
19  11410  서대문구  37.582037  126.935666   22  321966
20  11470   양천구  37.527062  126.856153   17  442345
21  11560  영등포구  37.520641  126.913924   42  398999
22  11620   관악구  37.465399  126.943807   12  502628
23  11200   성동구  37.550675  127.040962   14  287240
24  11170   용산구  37.531101  126.981074   25  232482

In [66]:
sgg_biz = pd.read_excel("./sgg_biz.xlsx")
sgg_biz

    시군구명    종사자수    사업체수
0    종로구  275063   48361
1     중구  386564   70308
2    용산구  152605   29680
3    성동구  203221   41665
4    광진구  129707   33706
5   동대문구  146383   42813
6    중랑구  113144   39310
7    성북구  124004   34712
8    강북구   80222   26385
9    도봉구   79097   25391
10   노원구  133398   37909
11   은평구  109031   36509
12  서대문구  118256   28522
13   마포구  279788   56782
14   양천구  133776   37929
15   강서구  290473   58806
16   구로구  240689   52791
17   금천구  255449   47964
18  영등포구  435017   74562
19   동작구  109281   27915
20   관악구  128417   37915
21   서초구  487976   71958
22   강남구  801419  110007
23   송파구  400781   74531
24   강동구  157465   41660

In [67]:
merged_df3 = pd.merge(merged_df2,sgg_biz, how="left",on ="시군구명")
merged_df3

    시군구코드  시군구명         위도          경도  매장명  주민득록인구    종사자수    사업체수
0   11320   도봉구  37.665861  127.031767    6  312858   79097   25391
1   11380   은평구  37.617612  126.922700   14  468766  109031   36509
2   11230  동대문구  37.583801  127.050700   10  354884  146383   42813
3   11590   동작구  37.496504  126.944307   11  390377  109281   27915
4   11545   금천구  37.460097  126.900155   13  242467  255449   47964
5   11530   구로구  37.495486  126.858121   14  417983  240689   52791
6   11110   종로구  37.599100  126.986149   40  152212  275063   48361
7   11305   강북구  37.646995  127.014716    6  296934   80222   26385
8   11260   중랑구  37.595379  127.093967    8  389928  113144   39310
9   11680   강남구  37.495985  127.066409   89  537817  801419  110007
10  11500   강서구  37.565762  126.822656   27  573711  290473   58806
11  11140    중구  37.557945  126.994190   54  131390  386564   70308
12  11740   강동구  37.549208  127.146482   17  464027  157465   41660
13  11215   광진구  37.548144  127.085753   18  350925  129707   33706
14  11440   마포구  37.562291  126.908780   36  376542  279788   56782
15  11650   서초구  37.476953  127.037810   48  408979  487976   71958
16  11290   성북구  37.606991  127.023218   15  441855  124004   34712
17  11350   노원구  37.655264  127.077120   14  506989  133398   37909
18  11710   송파구  37.504853  127.114482   36  663704  400781   74531
19  11410  서대문구  37.582037  126.935666   22  321966  118256   28522
20  11470   양천구  37.527062  126.856153   17  442345  133776   37929
21  11560  영등포구  37.520641  126.913924   42  398999  435017   74562
22  11620   관악구  37.465399  126.943807   12  502628  128417   37915
23  11200   성동구  37.550675  127.040962   14  287240  203221   41665
24  11170   용산구  37.531101  126.981074   25  232482  152605   29680

In [68]:
merged_df3.rename(columns={"매장명":"스탁벅스 매장수"},inplace=True)
merged_df3

    시군구코드  시군구명         위도          경도  스탁벅스 매장수  주민득록인구    종사자수    사업체수
0   11320   도봉구  37.665861  127.031767         6  312858   79097   25391
1   11380   은평구  37.617612  126.922700        14  468766  109031   36509
2   11230  동대문구  37.583801  127.050700        10  354884  146383   42813
3   11590   동작구  37.496504  126.944307        11  390377  109281   27915
4   11545   금천구  37.460097  126.900155        13  242467  255449   47964
5   11530   구로구  37.495486  126.858121        14  417983  240689   52791
6   11110   종로구  37.599100  126.986149        40  152212  275063   48361
7   11305   강북구  37.646995  127.014716         6  296934   80222   26385
8   11260   중랑구  37.595379  127.093967         8  389928  113144   39310
9   11680   강남구  37.495985  127.066409        89  537817  801419  110007
10  11500   강서구  37.565762  126.822656        27  573711  290473   58806
11  11140    중구  37.557945  126.994190        54  131390  386564   70308
12  11740   강동구  37.549208  127.146482        17  464027  157465   41660
13  11215   광진구  37.548144  127.085753        18  350925  129707   33706
14  11440   마포구  37.562291  126.908780        36  376542  279788   56782
15  11650   서초구  37.476953  127.037810        48  408979  487976   71958
16  11290   성북구  37.606991  127.023218        15  441855  124004   34712
17  11350   노원구  37.655264  127.077120        14  506989  133398   37909
18  11710   송파구  37.504853  127.114482        36  663704  400781   74531
19  11410  서대문구  37.582037  126.935666        22  321966  118256   28522
20  11470   양천구  37.527062  126.856153        17  442345  133776   37929
21  11560  영등포구  37.520641  126.913924        42  398999  435017   74562
22  11620   관악구  37.465399  126.943807        12  502628  128417   37915
23  11200   성동구  37.550675  127.040962        14  287240  203221   41665
24  11170   용산구  37.531101  126.981074        25  232482  152605   29680

In [69]:
merged_df3.to_excel("./seoul_sgg_stat.xlsx",index=False)